---
import Layout from "../layouts/Layout.astro";

export const prerender = true;

const elements = [
    {
        title: "FP I DAI",
        text: "Formación profesional de grado medio de Desarrollo de Aplicaciones Informáticas. *no concluido",
        year: "2008 - 2009",
        type: "Formación",
        history:
            "Soy un programador autodidacta y apasionado con un enfoque especial en el frontend de programación. La informática ha sido un pilar influencial en mi vida, desde una temprana edad he estado inmerso en la programación. Durante esta fase inicial de mi crecimiento profesional, me inscribí en un <strong>FP de Desarrollo de Aplicaciones Informáticas</strong> que, aunque dejé por seguir mis inquietudes en el campo de la salud animal, dejó una huella significativa en mi camino hacia la industria tecnológica.",
    },
    {
        title: "StartUp Cofunder & CEO",
        text: "Desarrollo de plataforma interna, aplicaciones y web blog para StartUp Conet Mascotas",
        year: "2018 - 2020",
        type: "Experiencia",
        history:
            "Mi viaje profesional tomó un giro interesante cuando combiné mis pasiones por la sanidad animal y la informática para fundar mi propia empresa, Conet Mascotas. En esta <strong>StartUp</strong>, tuve el doble desafío de ser el encargado de la salud animal y la gestión informática de la empresa. Fue en este punto que volví a sumergirme en la programación, trabajando con tecnologías y lenguajes como <strong>Node.js</strong>, <strong>TypeScript</strong> y <strong>Angular</strong>. A pesar de los desafíos, encontré una satisfacción inmensa al navegar a través de este dualismo entre la veterinaria y la programación.",
    },
    {
        title: "Shopin App",
        text: "Desarrollo plataforma Hibrida en arquitectura monolitica con Nx + Angular + Ionic para StartUp",
        year: "2022",
        type: "Experiencia",
        history:
            "La adversidad no ha mermado mi deseo de <strong>crecer y aprender</strong>, ni mi enfoque en la programación frontend. Después de cerrar mi Startup, me embarqué en una serie de <strong>proyectos freelance</strong> en los que pude aplicar y mejorar continuamente mis habilidades de programación. Un proyecto destacado fue la implementación de una plataforma para el proyecto emprendedor <strong>Shopin</strong>. La construcción de este proyecto de una sola pieza con <strong>Nrwl</strong>, <strong>Angular</strong> e <strong>Ionic</strong>, además del uso de <strong>Firebase</strong> para los servicios backend, supuso un aprendizaje significativo y una demostración de mi adaptabilidad a nuevas tecnologías y desafíos.",
    },
    {
        title: "Frontend Developer Route",
        text: "Formación en Open Bootcamp de repaso y reciclaje de Javascript, HTML, CSS, Angular, React, Git...",
        year: "2022",
        type: "Formación",
        history:
            "Continuamente busco oportunidades para desarrollar mis habilidades y mantenerme al día con las últimas tendencias y best-practices en el mundo del desarrollo web. Mi más reciente experiencia laboral con Simonetta me ha permitido adentrarme en el mundo del ecommerce en Shopify, trabajar con Liquid y fortalecer mis habilidades en JavaScript, HTML y CSS.",
    },
    {
        title: "Simonetta Floral",
        text: "Desarrollo web con Shopify para tienda online de ramos de flores preservadas",
        year: "2022...",
        type: "Experiencia",
        history:
            "A lo largo de mi carrera, he demostrado una naturaleza autodidacta</strong>, una <strong>mentalidad de resiliencia</strong> y una habilidad notable para <strong>gestionar proyectos</strong> y <strong>trabajar de forma autónoma</strong>. Estas habilidades, combinadas con mi experiencia técnica, hacen de mí un valioso activo para cualquier equipo de desarrollo.",
    },
];
---

<Layout title="Sobre mi">
    <article>
        {
            elements.map((el) => (
                <section>
                    <div class="content">
                        <div class="badges">
                            <span
                                class={
                                    el.type === "Formación"
                                        ? "formation"
                                        : "experience"
                                }
                            >
                                {el.type}
                            </span>
                            <span>{el.year}</span>
                        </div>
                        <h4>{el.title}</h4>
                        <p>{el.text}</p>
                    </div>
                    <div class="history-wrapper">
                        <p class="console">> {el.history}</p>
                    </div>
                </section>
            ))
        }
        <section>
        <p class="console">
            > Hoy, mi objetivo es encontrar un empleo estable donde pueda
            ofrecer mis conocimientos y experiencia para ayudar a construir
            soluciones tecnológicas innovadoras y eficaces. Estoy listo para <strong
                >asumir nuevos retos</strong
            >, aportar a un equipo y <strong>seguir aprendiendo</strong> en el
            fascinante ámbito de la programación.
        </p>
    </section>
    </article>
</Layout>

<style lang="scss">
    @import "../styles/global.scss";

    article {
        margin: 2rem auto;

        section {
            width: 100%;
            display: flex;
            align-items: center;

            &:nth-child(even) {
                flex-direction: row-reverse;
            }

            .content {
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                padding: 1rem;
                margin: 1rem;

                background-color: $paua-bg;
                border-radius: $border-radius;

                cursor: default;
                box-shadow: 0px 0px 5px 3px $paua-dark-grey;

                transition:
                    transform 0.3s ease-in-out,
                    box-shadow 0.3s ease-in-out;
                
                    h4 {
                        color: $paua-300;
                    }

                &:hover {
                    transform: scale(1.03);
                    box-shadow: 0px 0px 5px 3px $orange-crayola;
                }

                div {
                    width: max-content;
                    margin-bottom: 1rem;
                    span {
                        border-radius: $border-radius;
                        background-color: $ts-pink;
                        padding: 0.2rem 0.5rem;
                        margin-right: 1rem;
                    }

                    span.formation {
                        background-color: $ts-yellow;
                    }

                    span.experience {
                        background-color: $ts-blue;
                    }
                }
            }

            .history-wrapper {
                width: 60%;
                margin-inline: 1rem;
            }
        }

        & > section > .console {
            background-color: transparent;
            border: solid 2px $orange-crayola;
            margin-inline: 0;
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        article {
            section,
            section:nth-child(even) {
                box-sizing: border-box;
                flex-direction: column;
                padding-inline: 1rem;
                .content {
                    box-sizing: border-box;
                    margin: 0;
                    width: 100%;
                }
                .history-wrapper {
                    margin: 0;
                    width: 100%;
                }
            }
        }

    }
</style>
